body{
	background-color: #F5F5F5;
	font-family: "Oxygen" , sans-serif;
}
/*header nav*/
#header-nav{
	background-color: #48D1CC;
     border-radius: 0;
  	border: 0;
}
#logo-img {
  background: url('../images/food.png') no-repeat;
  width: 64px;
  height: 64px;
  margin: 10px 15px 10px 0;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: "Oxygen", sans-serif;
  color: #000000;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: .75;
  padding-top: 5px;
 }
h2{
	font-family: "Montserrat" , sans-serif;
	color: #000000;
	text-align: center;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 15px;
	text-shadow: 1px 1px 1px #D3D3D3;
}
h3{
	font-size: 2em;
	text-align: center;
	font-weight: bold;
	font-family: "Oxygen",sans-serif;

}



#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #2F4F4F;
  text-align: center;
  font-weight: bolder;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.content-1
{
	font-family: 'Quicksand', sans-serif;
	background-color: #008B8B;
	color: white;
	text-align: justify;
	padding: 5px 5px;
	height: 700px;
	margin-bottom: 20px;
}

.content-1 a{
	color: #FF8C00;
	font-size: 1.5em;
	font-family: "Montserrat", sans-serif;
}

/****** MEDIUM DEVICES ONLY ******/
@media (min-width: 992px){

	.col-md-4{
		width: 100%;
		
	}
	#nav-list a{
		visibility: hidden; 
	}
}

/****** SMALL DEVICES ONLY ******/
@media (min-width: 768px)and (max-width: 991px){

	.col-sm-6{
		width: 100%;
	
	}
	.col-sm-12{
		width: 100%;
	}
	#nav-list a{
		visibility: hidden; 
	}
	 .content-1{
  	overflow: auto;
  }
}

/****** EXTRA SMALL DEVICES ONLY ******/
@media (min-width: 480px) and (max-width: 767px){

	.col-xs-12{
		width: 100%;
		
	}

	.navbar{
		min-height: 75px; 
	}
	.navbar-brand h1{ /* FOOD LLC*/
        font-size: 5.75vw;
        padding-top: 5px;
        margin-top: 0px;
	}
	#nav-list a{
		font-size: 1.5em; 
	}

	#nav-list a:hover {
		background: #E7E7E7;
	}
	 .content-1{
  	overflow: scroll;
  }
	h2{
		font-size: 5.5vw;
	}
	h3{
		font-size: 5vw;
	}
	
	#collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  
  .navbar-brand h1 { /* Restaurant name */
    padding: 5px 0px 10px;
    font-size: 5vw;
  }
  .content-1{
  	overflow: auto;
  }
  h2{
		font-size: 4.5vw;
	}
	h3{
		font-size: 4vw;
	}
  /* End Header */